@using System.Globalization

@model List<SharpDevelopMVC4.Models.Credit>
@{
    ViewBag.Title = "Index";
}


<h2>Credit</h2>

<a href="/Credit/AddCredit" class="btn btn-dark btn-lg float-right">Add Credit</a>

<table class="table table-dark table-hover">
    <tr>
        <th>Customer</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Credit Date</th>
        <th>Term In Month</th>
        <th>Down Payment</th>
        <th>Action</th>
    </tr>

    @foreach (var credit in Model)
    {
        CultureInfo culture = new CultureInfo("en-PH");

        <tr>
            <td>@credit.CustomerName</td>
            <td>@credit.ProductName</td>
            <td>@credit.Quantity</td>
            <td>@credit.Price.ToString("C", culture)</td>
            <td>@credit.CreditDate.ToString("MMM/dd/yyyy")</td>
            <td>@credit.TermInMonth</td>
            <td>@credit.Downpayment.ToString("C",culture)</td>
            <td>
                <a href="/Credit/Delete/@credit.Id" class="btn btn-danger btn-sm" onclick="return confirm ('Are You Sure?')">Delete</a>
                <a href="/Payment/Index/@credit.Id"class="btn btn-warning btn-sm">Amortization</a>
            </td>
        </tr>
    }
</table>
